modules = ["nodejs-20", "postgresql-16", "python-3.11"]
[nix]
channel = "stable-25_05"
packages = ["glibcLocales", "unzip"]

[agent]
expertMode = true
integrations = ["google-drive:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
ADMIN_SEED_TOKEN = "b0c46fde7cd805acb7fb71e24d8ba3c05b7262b69e268e9b"
TRACCAR_URL = "http://157.230.184.147:8082"
